@page "/tasks"
@attribute [StreamRendering]

<PageTitle>Tasks</PageTitle>

<h1>Tasks</h1>

@if (_tasks == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Task</th>
            <th>Created</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var task in _tasks)
        {
            <tr>
                <td>@task.IsComplete</td>
                <td>@task.Description</td>
                <td></td>
                <td></td>
            </tr>
        }
        </tbody>
    </table>
}