@page "/Register"
@using WebApp.Components.Layout
@layout EmptyLayout

<div class="p-5">
    <a href="/login">Back to Login</a>
    <EditForm Model="RegisterModel" FormName="Login" OnValidSubmit="HandleRegister">
        <DataAnnotationsValidator/>
        <div class="form-group">
            <label for="username">Username</label>
            <InputText id="username" class="form-control" @bind-Value="RegisterModel.Username"/>
            <ValidationMessage For="() => RegisterModel.Username"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <InputText id="password" class="form-control" type="password" @bind-Value="RegisterModel.Password"/>
            <ValidationMessage For="() => RegisterModel.Password"/>
        </div>
        <button type="submit" class="btn btn-primary mt-3" disabled="@IsBusy">Register</button>
    </EditForm>

    <p class="text-danger">@ErrorMessage</p>
</div>